# 웹 크롤링을 위한 패키지
requests>=2.32.5
beautifulsoup4>=4.14.3
lxml>=6.0.2

# 자연어 처리를 위한 패키지
konlpy>=0.6.0

# 엑셀 파일 처리를 위한 패키지
pandas>=2.3.3
openpyxl>=3.1.5

# AI API를 위한 패키지
google-genai>=1.55.0
openai>=2.9.0
Pillow>=12.0.0

# 예쁜 로그 출력을 위한 패키지
rich>=14.2.0

# 환경 변수 관리를 위한 패키지
python-dotenv>=1.2.1

# 브라우저 자동화를 위한 패키지
playwright>=1.57.0

# FastAPI 서버를 위한 패키지
fastapi>=0.124.2
uvicorn[standard]>=0.38.0
python-multipart>=0.0.20